*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# log files
*.log

# virtual machine crash logs
hs_err_pid*

# not include reference package
!hamcrest-core-1.3.jar
!junit-4.11.jar
!log4j-1.2.17
/bin/