*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

# not include reference package
!bcel-5.2.jar
!hamcrest-core-1.3.jar
!junit-4.11.jar
/bin/
